body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backgroundImage {
  background-size: cover;
  background-position: center;
  background: linear-gradient(59deg, #177D82, #3CA6A5, #ebfffd);
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media (max-width: 36em) {
    max-height: rem(670px);
    min-height: rem(670px);
    max-width: rem(425px);
    margin: 0 auto;
  }

  @media (min-width: 48em) {
    max-height: rem(785px);
    max-width: rem(768px);
  }

  @media (min-width: 62em) {
    max-width: rem(1024px);
    min-width: rem(1024px);
    min-height: rem(800px);
    max-height: rem(800px);
  }

  @media (min-width: 88em) {
    max-width: rem(1440px);
    min-width: rem(1580px);
    min-height: rem(860px);
    max-height: rem(860px);
  }

  @media (min-width: 100em) {
    max-width: rem(2560px);
    min-width: rem(2560px);
    min-height: rem(1440px);
    max-height: rem(1440px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @media (max-width: 36em) {
    min-width: rem(280px);
    max-width: rem(425px);
    min-height: rem(550px);
    max-height: rem(550px);
    padding: 0 10px;
  }

  @media (min-width: 48em) {
    min-width: rem(768px);
    max-width: rem(768px);
    min-height: rem(600px);
    max-height: rem(600px);
  }

  @media (min-width: 62em) {
    min-width: rem(1024px);
    max-width: rem(1024px);
    min-height: rem(600px);
    max-height: rem(600px);
  }

  @media (min-width: 88em) {
    min-width: rem(1440px);
    max-width: rem(1440px);
    min-height: rem(700px);
    max-height: rem(700px);
  }

}

.profilePaper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: #5bb3b3;
  width: 100%;
  height: 100%;

  @media (max-width: 36em) {
    max-width: rem(400px);
    max-height: rem(400px);
  }

  @media (min-width: 48em) {
    max-width: rem(400px);
    max-height: rem(350px);
    padding: rem(20px);

  }

  @media (min-width: 62em) {
    max-width: rem(500px);
    max-height: rem(350px);
    padding: rem(20px);

  }

  @media (min-width: 88em) {
    max-width: rem(700px);
    max-height: rem(350px);
    padding: rem(20px);
  }

}

.profilePaperUpdate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  backdrop-filter: blur(10px);
  background-color: #5bb3b3;
  width: 100%;
  height: 100%;
  gap: 10px;

  @media (max-width: 36em) {
    max-width: rem(400px);
    max-height: rem(400px);
  }

  @media (min-width: 48em) {
    max-width: rem(400px);
    max-height: rem(350px);
  }

  @media (min-width: 62em) {
    max-width: rem(500px);
    max-height: rem(350px);


  }

  @media (min-width: 88em) {
    max-width: rem(700px);
    max-height: rem(350px);

  }
}

.profileBox {
  background-color: #5bb3b3;
  border-radius: 20px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
  z-index: 1;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;

  @media (max-width: 36em) {
    max-width: rem(400px);
    min-width: rem(200px);
    max-height: rem(350px);
    padding: 20px 10px;
  }

  @media (min-width: 48em) {
    max-width: rem(400px);
    max-height: rem(400px);
    padding: rem(20px);
    margin-bottom: rem(100px);
  }

  @media (min-width: 62em) {
    max-width: rem(400px);
    max-height: rem(350px);
    margin-bottom: rem(100px);
  }

  @media (min-width: 88em) {
    max-width: rem(400px);
    max-height: rem(350px);
    padding: rem(20px);
    margin-bottom: rem(100px);

  }
}

.username,
.avatar {
  font-size: 18px;
  width: 100%;
  border: none;
}

.avatar:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.username:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.profileGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%
}

.profileGroupText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.editBtnBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.editBtn {
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
    background-color: rgb(0, 255, 238);
  }
}

.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.inputBox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}